[Unit]
Description=Store a log of battery levels

[Service]
Type=oneshot
ExecStart=/bin/bash -c '
LOG_FILE="/var/log/battery-levels.log";
MAX_LINES=10;
if [ ! -f "$LOG_FILE" ]; then
    touch "$LOG_FILE";
fi;
CURRENT_LINES=""
'
